<!-- This is where the user will end up after searching for a particular items. Products is an array of product objects -->
<main class="main">
	<div class="js-masonry"  data-masonry-options='{
	        "columnWidth": 100,
	        "itemSelector": ".item",
	        "transitionDuration": "0.9s"
	     }'>
		<% @products.each do |product| %>
		<a href="">
			<div class="card fl-l item">
				<div class="card-img">
					<img src="<%= product['image']['sizes']['XLarge']['url'] %>" width="<%= product['image']['sizes']['XLarge']['url']['width'] %>" height="<%= product['image']['sizes']['XLarge']['url'] %>">
				</div>
				<div class="card-content">
					<p class="p-name"><%= product["name"] %></p>
					<p class="p-price"><%= product["priceLabel"] %></p>
				</div>
			</div>
		<!-- <p><%= product %></p> -->
		</a>
		<% end %>
	</div>
</main>